[defaults]
inventory           = inventory/hosts.ini
remote_user         = root
host_key_checking   = False
retry_files_enabled = False
timeout             = 30
interpreter_python  = auto_silent
roles_path          = ../../../ansible/roles
vars_plugins_enabled = host_group_vars

[community.sops.sops_vars]
vars_files_suffix = yml,yaml
