---
services:
  tfc-agent:
    image: {{ tfc_agent_image }}
    container_name: tfc-agent
    restart: unless-stopped
    environment:
      TFC_AGENT_TOKEN: "{{ tfc_agent_token }}"
      TFC_AGENT_NAME: "{{ tfc_agent_name }}"
      TFC_ADDRESS: "https://app.terraform.io"
