proxmox_api_url      = "https://192.168.1.90:8006/api2/json"
proxmox_api_token_id = "terraform@pve!terraform"
proxmox_tls_insecure = true
proxmox_node         = "pve03"

hostname            = "windows11"
vm_id               = 111
windows_iso_file_id = "local:iso/Win11_25H2_English_x64_v2.iso"

cores          = 4
memory         = 8192
disk_size      = 80
storage        = "local-lvm"
network_bridge = "vmbr0"

boot_from_iso = true

# Upload this manually to pve03 local ISO storage before setting boot_from_iso = false.
virtio_iso_file_id = "local:iso/virtio-win.iso"

# SENSITIVE VARIABLES - define in Terraform Cloud workspace:
# proxmox_api_token_secret = "..."
